# Import data and libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import scipy
import plotly.express as px
import plotly.offline as py
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot, plot
from plotly import tools
from plotly.subplots import make_subplots

In [2]:
# Create path

path = r'G:\My Drive\CareerFoundry\Python Projects\2024-2 Data Immersion 6 Final Project'

In [3]:
# Import data

df_sbs = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'sbs_merged_for_python.csv'), header=[0, 1]) # header[0,1] imports both headers from csv

In [4]:
# check df

df_sbs.shape

(9805, 70)

In [5]:
df_sbs.head()

  Player_Stats                                                         \
            Tm SB   Key           Player No. Age Pos     College/Univ
0          GNB  1  GNB1       Bart Starr  15  32  QB          Alabama
1          GNB  1  GNB1  Zeke Bratkowski  12  35  QB          Georgia
2          GNB  1  GNB1       Jim Taylor  31  31  FB              LSU
3          GNB  1  GNB1     Elijah Pitts  22  28  HB  Philander Smith
4          GNB  1  GNB1   Donny Anderson  44  23  RB       Texas Tech

                                 ... SPT_Punt_Returns     SPT_Scoring          \
  College/Univ 2 College/Univ 3  ...               TD Lng         XPM XPA FGM
0            NaN            NaN  ...                0   0           0   0   0
1            NaN            NaN  ...                0   0           0   0   0
2            NaN            NaN  ...                0   0           0   0   0
3            NaN            NaN  ...                0   0           0   0   0
4            NaN            NaN  ...                0   0           0   0   0

      SPT_Punting
  FGA         Pnt Yds  Y/P Lng
0   0           0   0  0.0   0
1   0           0   0  0.0   0
2   0           0   0  0.0   0
3   0           0   0  0.0   0
4   0           0   0  0.0   0

[5 rows x 70 columns]

In [6]:
df_sbs.tail()

     Player_Stats                                                        \
               Tm  SB    Key            Player No. Age Pos College/Univ
9800          SFO  58  SFO58  Mitch Wishnowsky  18  31   P         Utah
9801          SFO  58  SFO58   Charlie Woerner  89  26  TE      Georgia
9802          SFO  58  SFO58     Samuel Womack   0  24  CB       Toledo
9803          SFO  58  SFO58       Chase Young  92  24  DL     Ohio St.
9804          SFO  58  SFO58       Nick Zakelj  63  24  OL      Fordham

                                    ... SPT_Punt_Returns     SPT_Scoring      \
     College/Univ 2 College/Univ 3  ...               TD Lng         XPM XPA
9800            NaN            NaN  ...                0   0           0   0
9801            NaN            NaN  ...                0   0           0   0
9802            NaN            NaN  ...                0   0           0   0
9803            NaN            NaN  ...                0   0           0   0
9804            NaN            NaN  ...                0   0           0   0

             SPT_Punting
     FGM FGA         Pnt Yds  Y/P Lng
9800   0   0           0   0  0.0   0
9801   0   0           0   0  0.0   0
9802   0   0           0   0  0.0   0
9803   0   0           0   0  0.0   0
9804   0   0           0   0  0.0   0

[5 rows x 70 columns]

In [7]:
df_sbs.columns

MultiIndex([(    'Player_Stats',             'Tm'),
            (    'Player_Stats',             'SB'),
            (    'Player_Stats',            'Key'),
            (    'Player_Stats',         'Player'),
            (    'Player_Stats',            'No.'),
            (    'Player_Stats',            'Age'),
            (    'Player_Stats',            'Pos'),
            (    'Player_Stats',   'College/Univ'),
            (    'Player_Stats', 'College/Univ 2'),
            (    'Player_Stats', 'College/Univ 3'),
            (    'Player_Stats',      'BirthDate'),
            (    'Player_Stats',            'Yrs'),
            (    'Player_Stats',     'Super_bowl'),
            (    'Player_Stats',           'Team'),
            (    'Player_Stats',            'Pts'),
            (    'Player_Stats',            'MVP'),
            (    'Player_Stats',        'Stadium'),
            (    'Player_Stats',           'City'),
            (    'Player_Stats',          'State'),
            (    'Player_Stats',           'Date'),
            (    'Player_Stats',            'W/L'),
            (       'O_Passing',            'Cmp'),
            (       'O_Passing',            'Att'),
            (       'O_Passing',            'Yds'),
            (       'O_Passing',             'TD'),
            (       'O_Passing',            'Int'),
            (       'O_Passing',             'Sk'),
            (       'O_Passing',          'Yds.1'),
            (       'O_Passing',            'Lng'),
            (       'O_Passing',           'Rate'),
            (       'O_Rushing',            'Att'),
            (       'O_Rushing',            'Yds'),
            (       'O_Rushing',             'TD'),
            (       'O_Rushing',            'Lng'),
            (     'O_Receiving',            'Rec'),
            (     'O_Receiving',            'Yds'),
            (     'O_Receiving',             'TD'),
            (     'O_Receiving',            'Lng'),
            (       'O_Fumbles',            'Fmb'),
            (       'O_Fumbles',             'FL'),
            ( 'D_Interceptions',            'Int'),
            ( 'D_Interceptions',            'Yds'),
            ( 'D_Interceptions',             'TD'),
            ( 'D_Interceptions',            'Lng'),
            (         'D_Sacks',             'Sk'),
            (       'D_Tackles',           'Comb'),
            (       'D_Tackles',           'Solo'),
            (       'D_Tackles',            'Ast'),
            (       'D_Fumbles',             'FR'),
            (       'D_Fumbles',            'Yds'),
            (       'D_Fumbles',             'TD'),
            (       'D_Fumbles',             'FF'),
            ('SPT_Kick_Returns',             'Rt'),
            ('SPT_Kick_Returns',            'Yds'),
            ('SPT_Kick_Returns',           'Y/Rt'),
            ('SPT_Kick_Returns',             'TD'),
            ('SPT_Kick_Returns',            'Lng'),
            ('SPT_Punt_Returns',            'Ret'),
            ('SPT_Punt_Returns',            'Yds'),
            ('SPT_Punt_Returns',            'Y/R'),
            ('SPT_Punt_Returns',             'TD'),
            ('SPT_Punt_Returns',            'Lng'),
            (     'SPT_Scoring',            'XPM'),
            (     'SPT_Scoring',            'XPA'),
            (     'SPT_Scoring',            'FGM'),
            (     'SPT_Scoring',            'FGA'),
            (     'SPT_Punting',            'Pnt'),
            (     'SPT_Punting',            'Yds'),
            (     'SPT_Punting',            'Y/P'),
            (     'SPT_Punting',            'Lng')],
           )

In [8]:
df_sbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9805 entries, 0 to 9804
Data columns (total 70 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (Player_Stats, Tm)              9805 non-null   object
 1   (Player_Stats, SB)              9805 non-null   int64
 2   (Player_Stats, Key)             9805 non-null   object
 3   (Player_Stats, Player)          9805 non-null   object
 4   (Player_Stats, No.)             9805 non-null   int64
 5   (Player_Stats, Age)             9805 non-null   int64
 6   (Player_Stats, Pos)             9805 non-null   object
 7   (Player_Stats, College/Univ)    9785 non-null   object
 8   (Player_Stats, College/Univ 2)  631 non-null    object
 9   (Player_Stats, College/Univ 3)  59 non-null     object
 10  (Player_Stats, BirthDate)       9805 non-null   object
 11  (Player_Stats, Yrs)             9805 non-null   object
 12  (Player_Stats, Super_bowl)      9805 non-null   object
 13  (Player_Stats, Team)            9805 non-null   object
 14  (Player_Stats, Pts)             9805 non-null   int64
 15  (Player_Stats, MVP)             9805 non-null   object
 16  (Player_Stats, Stadium)         9805 non-null   object
 17  (Player_Stats, City)            9805 non-null   object
 18  (Player_Stats, State)           9805 non-null   object
 19  (Player_Stats, Date)            9805 non-null   object
 20  (Player_Stats, W/L)             9805 non-null   int64
 21  (O_Passing, Cmp)                9805 non-null   int64
 22  (O_Passing, Att)                9805 non-null   int64
 23  (O_Passing, Yds)                9805 non-null   int64
 24  (O_Passing, TD)                 9805 non-null   int64
 25  (O_Passing, Int)                9805 non-null   int64
 26  (O_Passing, Sk)                 9805 non-null   int64
 27  (O_Passing, Yds.1)              9805 non-null   int64
 28  (O_Passing, Lng)                9805 non-null   int64
 29  (O_Passing, Rate)               9805 non-null   float64
 30  (O_Rushing, Att)                9805 non-null   int64
 31  (O_Rushing, Yds)                9805 non-null   int64
 32  (O_Rushing, TD)                 9805 non-null   int64
 33  (O_Rushing, Lng)                9805 non-null   int64
 34  (O_Receiving, Rec)              9805 non-null   int64
 35  (O_Receiving, Yds)              9805 non-null   int64
 36  (O_Receiving, TD)               9805 non-null   int64
 37  (O_Receiving, Lng)              9805 non-null   int64
 38  (O_Fumbles, Fmb)                9805 non-null   int64
 39  (O_Fumbles, FL)                 9805 non-null   int64
 40  (D_Interceptions, Int)          9805 non-null   int64
 41  (D_Interceptions, Yds)          9805 non-null   int64
 42  (D_Interceptions, TD)           9805 non-null   int64
 43  (D_Interceptions, Lng)          9805 non-null   int64
 44  (D_Sacks, Sk)                   9805 non-null   float64
 45  (D_Tackles, Comb)               9805 non-null   int64
 46  (D_Tackles, Solo)               9805 non-null   int64
 47  (D_Tackles, Ast)                9805 non-null   int64
 48  (D_Fumbles, FR)                 9805 non-null   int64
 49  (D_Fumbles, Yds)                9805 non-null   int64
 50  (D_Fumbles, TD)                 9805 non-null   int64
 51  (D_Fumbles, FF)                 9805 non-null   int64
 52  (SPT_Kick_Returns, Rt)          9805 non-null   int64
 53  (SPT_Kick_Returns, Yds)         9805 non-null   int64
 54  (SPT_Kick_Returns, Y/Rt)        9805 non-null   float64
 55  (SPT_Kick_Returns, TD)          9805 non-null   int64
 56  (SPT_Kick_Returns, Lng)         9805 non-null   int64
 57  (SPT_Punt_Returns, Ret)         9805 non-null   int64
 58  (SPT_Punt_Returns, Yds)         9805 non-null   int64
 59  (SPT_Punt_Returns, Y/R)         9805 non-null   float64
 60  (SPT_Punt_Returns, TD)          9805 non-null   int64
 61  (SPT_Punt_Returns, Lng)         9805 non-null   int64
 62  (SPT_Scoring, XPM)              9805 non-null   int64
 63  (SPT_Scoring, XPA)              9805 non-null   int64
 64  (SPT_Scoring, FGM)              9805 non-null   int64
 65  (SPT_Scoring, FGA)              9805 non-null   int64
 66  (SPT_Punting, Pnt)              9805 non-null   int64
 67  (SPT_Punting, Yds)              9805 non-null   int64
 68  (SPT_Punting, Y/P)              9805 non-null   float64
 69  (SPT_Punting, Lng)              9805 non-null   int64
dtypes: float64(5), int64(49), object(16)
memory usage: 5.2+ MB

> ### 3 cols have null values but all are about College attended - this is accurate as some went to 3 different colleges, some went to 2, most went to 1 and a few didn't attend college at all.

> ### No missing data

In [11]:
# shows all columns

pd.set_option('display.max_columns', None)

In [12]:
df_sbs.describe(include='all')

       Player_Stats                                                           \
                 Tm           SB    Key     Player          No.          Age
count          9805  9805.000000   9805       9805  9805.000000  9805.000000
unique           30          NaN    116       4506          NaN          NaN
top             NWE          NaN  WAS22  Tom Brady          NaN          NaN
freq           1001          NaN    135         21          NaN          NaN
mean            NaN    31.262723    NaN        NaN    52.104029    26.874554
std             NaN    16.587728    NaN        NaN    27.900702     3.440520
min             NaN     1.000000    NaN        NaN     0.000000    21.000000
25%             NaN    17.000000    NaN        NaN    27.000000    24.000000
50%             NaN    32.000000    NaN        NaN    52.000000    26.000000
75%             NaN    46.000000    NaN        NaN    79.000000    29.000000
max             NaN    58.000000    NaN        NaN    99.000000    45.000000

                                                                         \
         Pos College/Univ College/Univ 2 College/Univ 3 BirthDate   Yrs
count   9805         9785            631             59      9805  9805
unique    73          425            159             22      4131    22
top       WR   Miami (FL)            BYU    Chadron St.  8/3/1977  Rook
freq    1130          202             19             10        21  1485
mean     NaN          NaN            NaN            NaN       NaN   NaN
std      NaN          NaN            NaN            NaN       NaN   NaN
min      NaN          NaN            NaN            NaN       NaN   NaN
25%      NaN          NaN            NaN            NaN       NaN   NaN
50%      NaN          NaN            NaN            NaN       NaN   NaN
75%      NaN          NaN            NaN            NaN       NaN   NaN
max      NaN          NaN            NaN            NaN       NaN   NaN

                                                                 \
       Super_bowl                  Team          Pts        MVP
count        9805                  9805  9805.000000       9805
unique         58                    31          NaN         47
top          XXII  New England Patriots          NaN  Tom Brady
freq          253                  1001          NaN        954
mean          NaN                   NaN    23.656298        NaN
std           NaN                   NaN    10.912497        NaN
min           NaN                   NaN     3.000000        NaN
25%           NaN                   NaN    16.000000        NaN
50%           NaN                   NaN    23.000000        NaN
75%           NaN                   NaN    31.000000        NaN
max           NaN                   NaN    55.000000        NaN

                                                                           \
                    Stadium         City    State       Date          W/L
count                  9805         9805     9805       9805  9805.000000
unique                   36           22       11         70          NaN
top     Louisiana Superdome  New Orleans  Florida  1/31/1988          NaN
freq                    821         1588     2828        253          NaN
mean                    NaN          NaN      NaN        NaN     0.504640
std                     NaN          NaN      NaN        NaN     0.501023
min                     NaN          NaN      NaN        NaN     0.000000
25%                     NaN          NaN      NaN        NaN     0.000000
50%                     NaN          NaN      NaN        NaN     1.000000
75%                     NaN          NaN      NaN        NaN     1.000000
max                     NaN          NaN      NaN        NaN     2.000000

         O_Passing                                                      \
               Cmp          Att          Yds           TD          Int
count   9805.00000  9805.000000  9805.000000  9805.000000  9805.000000
unique         NaN          NaN          NaN          NaN          NaN
top            NaN          NaN          NaN          NaN          NaN
freq           NaN          NaN          NaN          NaN          NaN
mean       0.23590     0.395818     2.892198     0.018052     0.014278
std        2.25703     3.705373    27.366979     0.207422     0.179532
min        0.00000     0.000000     0.000000     0.000000     0.000000
25%        0.00000     0.000000     0.000000     0.000000     0.000000
50%        0.00000     0.000000     0.000000     0.000000     0.000000
75%        0.00000     0.000000     0.000000     0.000000     0.000000
max       43.00000    62.000000   505.000000     6.000000     5.000000

                                                              O_Rushing  \
                 Sk        Yds.1          Lng         Rate          Att
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       0.030189     0.210199     0.525752     1.255237     0.336257
std        0.322719     2.417926     4.862394    10.988746     2.129823
min        0.000000     0.000000     0.000000     0.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max        7.000000    64.000000    85.000000   158.300000    38.000000

                                               O_Receiving               \
                Yds           TD          Lng          Rec          Yds
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       1.359918     0.010811     0.496991     0.235900     2.892198
std        9.509132     0.121552     3.161329     1.039674    13.914420
min      -10.000000     0.000000   -10.000000     0.000000    -8.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max      204.000000     3.000000    75.000000    14.000000   215.000000

                                    O_Fumbles              D_Interceptions  \
                 TD          Lng          Fmb           FL             Int
count   9805.000000  9805.000000  9805.000000  9805.000000     9805.000000
unique          NaN          NaN          NaN          NaN             NaN
top             NaN          NaN          NaN          NaN             NaN
freq            NaN          NaN          NaN          NaN             NaN
mean       0.018052     1.427537     0.014992     0.007445        0.014278
std        0.149733     6.377120     0.138770     0.091709        0.130123
min        0.000000    -8.000000     0.000000     0.000000        0.000000
25%        0.000000     0.000000     0.000000     0.000000        0.000000
50%        0.000000     0.000000     0.000000     0.000000        0.000000
75%        0.000000     0.000000     0.000000     0.000000        0.000000
max        3.000000    85.000000     3.000000     2.000000        3.000000

                                                   D_Sacks    D_Tackles  \
                Yds           TD          Lng           Sk         Comb
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       0.239878     0.001530     0.221112     0.030342     0.544926
std        3.464334     0.041613     3.102766     0.201667     1.589806
min       -7.000000     0.000000    -7.000000     0.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max      108.000000     2.000000   100.000000     4.000000    18.000000

                                    D_Fumbles                            \
               Solo          Ast           FR          Yds           TD
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       0.452932     0.091994     0.018562     0.021112     0.000714
std        1.331120     0.463148     0.140169     1.188250     0.026711
min        0.000000     0.000000     0.000000   -15.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max       15.000000     8.000000     2.000000    64.000000     1.000000

                    SPT_Kick_Returns                                         \
                 FF               Rt          Yds         Y/Rt           TD
count   9805.000000      9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN              NaN          NaN          NaN          NaN
top             NaN              NaN          NaN          NaN          NaN
freq            NaN              NaN          NaN          NaN          NaN
mean       0.005609         0.045895     0.960122     0.396736     0.001020
std        0.078680         0.382628     8.997163     3.229483     0.031921
min        0.000000         0.000000    -3.000000    -3.000000     0.000000
25%        0.000000         0.000000     0.000000     0.000000     0.000000
50%        0.000000         0.000000     0.000000     0.000000     0.000000
75%        0.000000         0.000000     0.000000     0.000000     0.000000
max        2.000000         8.000000   244.000000    92.000000     1.000000

                    SPT_Punt_Returns                                    \
                Lng              Ret          Yds          Y/R      TD
count   9805.000000      9805.000000  9805.000000  9805.000000  9805.0
unique          NaN              NaN          NaN          NaN     NaN
top             NaN              NaN          NaN          NaN     NaN
freq            NaN              NaN          NaN          NaN     NaN
mean       0.506986         0.026007     0.205201     0.095023     0.0
std        4.456380         0.267277     2.628135     1.284232     0.0
min       -3.000000         0.000000    -2.000000    -2.000000     0.0
25%        0.000000         0.000000     0.000000     0.000000     0.0
50%        0.000000         0.000000     0.000000     0.000000     0.0
75%        0.000000         0.000000     0.000000     0.000000     0.0
max      108.000000         6.000000    90.000000    61.000000     0.0

                     SPT_Scoring                                        \
                Lng          XPM          XPA          FGM         FGA
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.00000
unique          NaN          NaN          NaN          NaN         NaN
top             NaN          NaN          NaN          NaN         NaN
freq            NaN          NaN          NaN          NaN         NaN
mean       0.141968     0.028455     0.029781     0.016216     0.02152
std        1.824411     0.311133     0.321173     0.185792     0.23609
min       -2.000000     0.000000     0.000000     0.000000     0.00000
25%        0.000000     0.000000     0.000000     0.000000     0.00000
50%        0.000000     0.000000     0.000000     0.000000     0.00000
75%        0.000000     0.000000     0.000000     0.000000     0.00000
max       65.000000     7.000000     8.000000     4.000000     5.00000

        SPT_Punting
                Pnt          Yds          Y/P          Lng
count   9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN
mean       0.054258     2.262417     0.494085     0.597960
std        0.539082    22.581901     4.541338     5.507915
min        0.000000     0.000000     0.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000
max       11.000000   430.000000    53.000000    65.000000

### Basic statistics:
> #### Date col. has 70 unique dates but should be 58 (same number of super bowls)
> #### W/L col has max at 2 when 1 should be the max

> ## Dataset is small enough to visualize and fix issues in Excel, then import again

In [13]:
# Import no_irregs data

df_sbs_no_irr = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'sbs_merged_for_python_no_irregs.csv'), header=[0, 1]) # header[0,1] imports both headers from csv

In [14]:
# check import

df_sbs_no_irr.head()

  Player_Stats                                                         \
            Tm SB   Key           Player No. Age Pos     College/Univ
0          GNB  1  GNB1       Bart Starr  15  32  QB          Alabama
1          GNB  1  GNB1  Zeke Bratkowski  12  35  QB          Georgia
2          GNB  1  GNB1       Jim Taylor  31  31  FB              LSU
3          GNB  1  GNB1     Elijah Pitts  22  28  HB  Philander Smith
4          GNB  1  GNB1   Donny Anderson  44  23  RB       Texas Tech

                                                              \
  College/Univ 2 College/Univ 3   BirthDate   Yrs Super_bowl
0            NaN            NaN    1/9/1934    10          I
1            NaN            NaN  10/20/1931    12          I
2            NaN            NaN   9/20/1935     8          I
3            NaN            NaN    2/3/1938     5          I
4            NaN            NaN   5/16/1943  Rook          I

                                                                       \
                Team Pts          MVP            Stadium         City
0  Green Bay Packers  35  Bart Starr+  Memorial Coliseum  Los Angeles
1  Green Bay Packers  35  Bart Starr+  Memorial Coliseum  Los Angeles
2  Green Bay Packers  35  Bart Starr+  Memorial Coliseum  Los Angeles
3  Green Bay Packers  35  Bart Starr+  Memorial Coliseum  Los Angeles
4  Green Bay Packers  35  Bart Starr+  Memorial Coliseum  Los Angeles

                             O_Passing                                      \
        State       Date W/L       Cmp Att  Yds TD Int Sk Yds.1 Lng   Rate
0  California  1/15/1967   1        16  23  250  2   1  3    22  37  116.2
1  California  1/15/1967   1         0   1    0  0   0  0     0   0   39.6
2  California  1/15/1967   1         0   0    0  0   0  0     0   0    0.0
3  California  1/15/1967   1         0   0    0  0   0  0     0   0    0.0
4  California  1/15/1967   1         0   0    0  0   0  0     0   0    0.0

  O_Rushing            O_Receiving            O_Fumbles    D_Interceptions  \
        Att Yds TD Lng         Rec Yds TD Lng       Fmb FL             Int
0         0   0  0   0           0   0  0   0         0  0               0
1         0   0  0   0           0   0  0   0         0  0               0
2        17  56  1  14           1  -1  0  -1         0  0               0
3        11  45  2  12           2  32  0  22         0  0               0
4         4  30  0  13           0   0  0   0         0  0               0

             D_Sacks D_Tackles          D_Fumbles           SPT_Kick_Returns  \
  Yds TD Lng      Sk      Comb Solo Ast        FR Yds TD FF               Rt
0   0  0   0     0.0         0    0   0         0   0  0  0                0
1   0  0   0     0.0         0    0   0         0   0  0  0                0
2   0  0   0     0.0         0    0   0         0   0  0  0                0
3   0  0   0     0.0         0    0   0         0   0  0  0                0
4   0  0   0     0.0         0    0   0         0   0  0  0                0

                  SPT_Punt_Returns                 SPT_Scoring              \
  Yds Y/Rt TD Lng              Ret Yds  Y/R TD Lng         XPM XPA FGM FGA
0   0  0.0  0   0                0   0  0.0  0   0           0   0   0   0
1   0  0.0  0   0                0   0  0.0  0   0           0   0   0   0
2   0  0.0  0   0                0   0  0.0  0   0           0   0   0   0
3   0  0.0  0   0                0   0  0.0  0   0           0   0   0   0
4   0  0.0  0   0                0   0  0.0  0   0           0   0   0   0

  SPT_Punting
          Pnt Yds  Y/P Lng
0           0   0  0.0   0
1           0   0  0.0   0
2           0   0  0.0   0
3           0   0  0.0   0
4           0   0  0.0   0

In [15]:
# check irregularities

df_sbs_no_irr.describe(include='all')

       Player_Stats                                                           \
                 Tm           SB    Key     Player          No.          Age
count          9805  9805.000000   9805       9805  9805.000000  9805.000000
unique           30          NaN    116       4506          NaN          NaN
top             NWE          NaN  WAS22  Tom Brady          NaN          NaN
freq           1001          NaN    135         21          NaN          NaN
mean            NaN    31.262723    NaN        NaN    52.104029    26.874554
std             NaN    16.587728    NaN        NaN    27.900702     3.440520
min             NaN     1.000000    NaN        NaN     0.000000    21.000000
25%             NaN    17.000000    NaN        NaN    27.000000    24.000000
50%             NaN    32.000000    NaN        NaN    52.000000    26.000000
75%             NaN    46.000000    NaN        NaN    79.000000    29.000000
max             NaN    58.000000    NaN        NaN    99.000000    45.000000

                                                                         \
         Pos College/Univ College/Univ 2 College/Univ 3 BirthDate   Yrs
count   9805         9785            631             59      9805  9805
unique    73          425            159             22      4131    22
top       WR   Miami (FL)            BYU    Chadron St.  8/3/1977  Rook
freq    1130          202             19             10        21  1485
mean     NaN          NaN            NaN            NaN       NaN   NaN
std      NaN          NaN            NaN            NaN       NaN   NaN
min      NaN          NaN            NaN            NaN       NaN   NaN
25%      NaN          NaN            NaN            NaN       NaN   NaN
50%      NaN          NaN            NaN            NaN       NaN   NaN
75%      NaN          NaN            NaN            NaN       NaN   NaN
max      NaN          NaN            NaN            NaN       NaN   NaN

                                                                 \
       Super_bowl                  Team          Pts        MVP
count        9805                  9805  9805.000000       9805
unique         58                    31          NaN         47
top          XXII  New England Patriots          NaN  Tom Brady
freq          253                  1001          NaN        954
mean          NaN                   NaN    23.654768        NaN
std           NaN                   NaN    10.913304        NaN
min           NaN                   NaN     3.000000        NaN
25%           NaN                   NaN    16.000000        NaN
50%           NaN                   NaN    23.000000        NaN
75%           NaN                   NaN    31.000000        NaN
max           NaN                   NaN    55.000000        NaN

                                                                           \
                    Stadium         City    State       Date          W/L
count                  9805         9805     9805       9805  9805.000000
unique                   36           22       11         58          NaN
top     Louisiana Superdome  New Orleans  Florida  1/31/1988          NaN
freq                    821         1588     2828        253          NaN
mean                    NaN          NaN      NaN        NaN     0.503111
std                     NaN          NaN      NaN        NaN     0.500016
min                     NaN          NaN      NaN        NaN     0.000000
25%                     NaN          NaN      NaN        NaN     0.000000
50%                     NaN          NaN      NaN        NaN     1.000000
75%                     NaN          NaN      NaN        NaN     1.000000
max                     NaN          NaN      NaN        NaN     1.000000

         O_Passing                                                      \
               Cmp          Att          Yds           TD          Int
count   9805.00000  9805.000000  9805.000000  9805.000000  9805.000000
unique         NaN          NaN          NaN          NaN          NaN
top            NaN          NaN          NaN          NaN          NaN
freq           NaN          NaN          NaN          NaN          NaN
mean       0.23590     0.395818     2.892198     0.018052     0.014278
std        2.25703     3.705373    27.366979     0.207422     0.179532
min        0.00000     0.000000     0.000000     0.000000     0.000000
25%        0.00000     0.000000     0.000000     0.000000     0.000000
50%        0.00000     0.000000     0.000000     0.000000     0.000000
75%        0.00000     0.000000     0.000000     0.000000     0.000000
max       43.00000    62.000000   505.000000     6.000000     5.000000

                                                              O_Rushing  \
                 Sk        Yds.1          Lng         Rate          Att
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       0.030189     0.210199     0.525752     1.255237     0.336257
std        0.322719     2.417926     4.862394    10.988746     2.129823
min        0.000000     0.000000     0.000000     0.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max        7.000000    64.000000    85.000000   158.300000    38.000000

                                               O_Receiving               \
                Yds           TD          Lng          Rec          Yds
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       1.359918     0.010811     0.496991     0.235900     2.892198
std        9.509132     0.121552     3.161329     1.039674    13.914420
min      -10.000000     0.000000   -10.000000     0.000000    -8.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max      204.000000     3.000000    75.000000    14.000000   215.000000

                                    O_Fumbles              D_Interceptions  \
                 TD          Lng          Fmb           FL             Int
count   9805.000000  9805.000000  9805.000000  9805.000000     9805.000000
unique          NaN          NaN          NaN          NaN             NaN
top             NaN          NaN          NaN          NaN             NaN
freq            NaN          NaN          NaN          NaN             NaN
mean       0.018052     1.427537     0.014992     0.007445        0.014278
std        0.149733     6.377120     0.138770     0.091709        0.130123
min        0.000000    -8.000000     0.000000     0.000000        0.000000
25%        0.000000     0.000000     0.000000     0.000000        0.000000
50%        0.000000     0.000000     0.000000     0.000000        0.000000
75%        0.000000     0.000000     0.000000     0.000000        0.000000
max        3.000000    85.000000     3.000000     2.000000        3.000000

                                                   D_Sacks    D_Tackles  \
                Yds           TD          Lng           Sk         Comb
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       0.239878     0.001530     0.221112     0.030342     0.544926
std        3.464334     0.041613     3.102766     0.201667     1.589806
min       -7.000000     0.000000    -7.000000     0.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max      108.000000     2.000000   100.000000     4.000000    18.000000

                                    D_Fumbles                            \
               Solo          Ast           FR          Yds           TD
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       0.452932     0.091994     0.018562     0.021112     0.000714
std        1.331120     0.463148     0.140169     1.188250     0.026711
min        0.000000     0.000000     0.000000   -15.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000     0.000000
max       15.000000     8.000000     2.000000    64.000000     1.000000

                    SPT_Kick_Returns                                         \
                 FF               Rt          Yds         Y/Rt           TD
count   9805.000000      9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN              NaN          NaN          NaN          NaN
top             NaN              NaN          NaN          NaN          NaN
freq            NaN              NaN          NaN          NaN          NaN
mean       0.005609         0.045895     0.960122     0.396736     0.001020
std        0.078680         0.382628     8.997163     3.229483     0.031921
min        0.000000         0.000000    -3.000000    -3.000000     0.000000
25%        0.000000         0.000000     0.000000     0.000000     0.000000
50%        0.000000         0.000000     0.000000     0.000000     0.000000
75%        0.000000         0.000000     0.000000     0.000000     0.000000
max        2.000000         8.000000   244.000000    92.000000     1.000000

                    SPT_Punt_Returns                                    \
                Lng              Ret          Yds          Y/R      TD
count   9805.000000      9805.000000  9805.000000  9805.000000  9805.0
unique          NaN              NaN          NaN          NaN     NaN
top             NaN              NaN          NaN          NaN     NaN
freq            NaN              NaN          NaN          NaN     NaN
mean       0.506986         0.026007     0.205201     0.095023     0.0
std        4.456380         0.267277     2.628135     1.284232     0.0
min       -3.000000         0.000000    -2.000000    -2.000000     0.0
25%        0.000000         0.000000     0.000000     0.000000     0.0
50%        0.000000         0.000000     0.000000     0.000000     0.0
75%        0.000000         0.000000     0.000000     0.000000     0.0
max      108.000000         6.000000    90.000000    61.000000     0.0

                     SPT_Scoring                                        \
                Lng          XPM          XPA          FGM         FGA
count   9805.000000  9805.000000  9805.000000  9805.000000  9805.00000
unique          NaN          NaN          NaN          NaN         NaN
top             NaN          NaN          NaN          NaN         NaN
freq            NaN          NaN          NaN          NaN         NaN
mean       0.141968     0.028455     0.029781     0.016216     0.02152
std        1.824411     0.311133     0.321173     0.185792     0.23609
min       -2.000000     0.000000     0.000000     0.000000     0.00000
25%        0.000000     0.000000     0.000000     0.000000     0.00000
50%        0.000000     0.000000     0.000000     0.000000     0.00000
75%        0.000000     0.000000     0.000000     0.000000     0.00000
max       65.000000     7.000000     8.000000     4.000000     5.00000

        SPT_Punting
                Pnt          Yds          Y/P          Lng
count   9805.000000  9805.000000  9805.000000  9805.000000
unique          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN
mean       0.054258     2.262417     0.494085     0.597960
std        0.539082    22.581901     4.541338     5.507915
min        0.000000     0.000000     0.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000
75%        0.000000     0.000000     0.000000     0.000000
max       11.000000   430.000000    53.000000    65.000000

> ### All irregs have been fixed

In [16]:
# check for mixed data types

for col in df_sbs_no_irr.columns.tolist():
  weird = (df_sbs_no_irr[[col]].applymap(type) != df_sbs_no_irr[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_sbs_no_irr[weird]) > 0:
    print (col)

('Player_Stats', 'College/Univ')
('Player_Stats', 'College/Univ 2')
('Player_Stats', 'College/Univ 3')

In [18]:
# convert all 3 cols to str

df_sbs_no_irr['Player_Stats', 'College/Univ'] = df_sbs_no_irr['Player_Stats', 'College/Univ'].astype('str')
df_sbs_no_irr['Player_Stats', 'College/Univ 2'] = df_sbs_no_irr['Player_Stats', 'College/Univ 2'].astype('str')
df_sbs_no_irr['Player_Stats', 'College/Univ 3'] = df_sbs_no_irr['Player_Stats', 'College/Univ 3'].astype('str')

In [19]:
# re-check for mixed dts

for col in df_sbs_no_irr.columns.tolist():
  weird = (df_sbs_no_irr[[col]].applymap(type) != df_sbs_no_irr[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_sbs_no_irr[weird]) > 0:
    print (col)

> ### All mixed dts have been fixed

In [20]:
# check for dupes

dupes = df_sbs_no_irr.duplicated()

In [21]:
dupes.value_counts()

False    9805
Name: count, dtype: int64

> ### No dupes found

In [22]:
# check for dupes with more granularity

dupes_gr = df_sbs_no_irr[[('Player_Stats', 'Key'), ('Player_Stats', 'Player')]].duplicated()

In [23]:
dupes_gr.value_counts()

False    6538
True     3267
Name: count, dtype: int64

> #### Before fixing dupes with more granularity, I am merging the 2 header levels for clarity

In [24]:
# merge 2 header levels

df_sbs_no_irr.columns = [f'{i} ({j})' for i, j in df_sbs_no_irr.columns]

In [25]:
# check output

df_sbs_no_irr.head()

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
0,GNB,1,GNB1,Bart Starr,15,32,QB,Alabama,nan,nan,1/9/1934,10,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,16,23,250,2,1,3,22,37,116.2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
1,GNB,1,GNB1,Zeke Bratkowski,12,35,QB,Georgia,nan,nan,10/20/1931,12,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,1,0,0,0,0,0,0,39.6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
2,GNB,1,GNB1,Jim Taylor,31,31,FB,LSU,nan,nan,9/20/1935,8,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,0,0,0,0,0,0,0,0.0,17,56,1,14,1,-1,0,-1,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
3,GNB,1,GNB1,Elijah Pitts,22,28,HB,Philander Smith,nan,nan,2/3/1938,5,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,0,0,0,0,0,0,0,0.0,11,45,2,12,2,32,0,22,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
4,GNB,1,GNB1,Donny Anderson,44,23,RB,Texas Tech,nan,nan,5/16/1943,Rook,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,0,0,0,0,0,0,0,0.0,4,30,0,13,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [26]:
# export df_sbs_no_irr with 1 header as pkl

df_sbs_no_irr.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_sbs_header_merged.pkl'))

In [27]:
# import new df

df_sbs_header_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_sbs_header_merged.pkl'))

In [28]:
# check import

df_sbs_header_merged.head()

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
0,GNB,1,GNB1,Bart Starr,15,32,QB,Alabama,nan,nan,1/9/1934,10,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,16,23,250,2,1,3,22,37,116.2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
1,GNB,1,GNB1,Zeke Bratkowski,12,35,QB,Georgia,nan,nan,10/20/1931,12,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,1,0,0,0,0,0,0,39.6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
2,GNB,1,GNB1,Jim Taylor,31,31,FB,LSU,nan,nan,9/20/1935,8,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,0,0,0,0,0,0,0,0.0,17,56,1,14,1,-1,0,-1,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
3,GNB,1,GNB1,Elijah Pitts,22,28,HB,Philander Smith,nan,nan,2/3/1938,5,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,0,0,0,0,0,0,0,0.0,11,45,2,12,2,32,0,22,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
4,GNB,1,GNB1,Donny Anderson,44,23,RB,Texas Tech,nan,nan,5/16/1943,Rook,I,Green Bay Packers,35,Bart Starr+,Memorial Coliseum,Los Angeles,California,1/15/1967,1,0,0,0,0,0,0,0,0,0.0,4,30,0,13,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [29]:
df_sbs_header_merged.tail()

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
9800,SFO,58,SFO58,Mitch Wishnowsky,18,31,P,Utah,nan,nan,3/3/1992,4,LVIII,San Francisco 49ers,22,Patrick Mahomes,Allegiant Stadium,Las Vegas,Nevada,2/11/2024,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
9801,SFO,58,SFO58,Charlie Woerner,89,26,TE,Georgia,nan,nan,10/16/1997,3,LVIII,San Francisco 49ers,22,Patrick Mahomes,Allegiant Stadium,Las Vegas,Nevada,2/11/2024,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
9802,SFO,58,SFO58,Samuel Womack,0,24,CB,Toledo,nan,nan,7/7/1999,1,LVIII,San Francisco 49ers,22,Patrick Mahomes,Allegiant Stadium,Las Vegas,Nevada,2/11/2024,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
9803,SFO,58,SFO58,Chase Young,92,24,DL,Ohio St.,nan,nan,4/14/1999,3,LVIII,San Francisco 49ers,22,Patrick Mahomes,Allegiant Stadium,Las Vegas,Nevada,2/11/2024,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
9804,SFO,58,SFO58,Nick Zakelj,63,24,OL,Fordham,nan,nan,6/22/1999,1,LVIII,San Francisco 49ers,22,Patrick Mahomes,Allegiant Stadium,Las Vegas,Nevada,2/11/2024,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [30]:
df_sbs_header_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9805 entries, 0 to 9804
Data columns (total 70 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Player_Stats (Tm)              9805 non-null   object
 1   Player_Stats (SB)              9805 non-null   int64
 2   Player_Stats (Key)             9805 non-null   object
 3   Player_Stats (Player)          9805 non-null   object
 4   Player_Stats (No.)             9805 non-null   int64
 5   Player_Stats (Age)             9805 non-null   int64
 6   Player_Stats (Pos)             9805 non-null   object
 7   Player_Stats (College/Univ)    9805 non-null   object
 8   Player_Stats (College/Univ 2)  9805 non-null   object
 9   Player_Stats (College/Univ 3)  9805 non-null   object
 10  Player_Stats (BirthDate)       9805 non-null   object
 11  Player_Stats (Yrs)             9805 non-null   object
 12  Player_Stats (Super_bowl)      9805 non-null   object
 13  Player_Stats (Team)            9805 non-null   object
 14  Player_Stats (Pts)             9805 non-null   int64
 15  Player_Stats (MVP)             9805 non-null   object
 16  Player_Stats (Stadium)         9805 non-null   object
 17  Player_Stats (City)            9805 non-null   object
 18  Player_Stats (State)           9805 non-null   object
 19  Player_Stats (Date)            9805 non-null   object
 20  Player_Stats (W/L)             9805 non-null   int64
 21  O_Passing (Cmp)                9805 non-null   int64
 22  O_Passing (Att)                9805 non-null   int64
 23  O_Passing (Yds)                9805 non-null   int64
 24  O_Passing (TD)                 9805 non-null   int64
 25  O_Passing (Int)                9805 non-null   int64
 26  O_Passing (Sk)                 9805 non-null   int64
 27  O_Passing (Yds.1)              9805 non-null   int64
 28  O_Passing (Lng)                9805 non-null   int64
 29  O_Passing (Rate)               9805 non-null   float64
 30  O_Rushing (Att)                9805 non-null   int64
 31  O_Rushing (Yds)                9805 non-null   int64
 32  O_Rushing (TD)                 9805 non-null   int64
 33  O_Rushing (Lng)                9805 non-null   int64
 34  O_Receiving (Rec)              9805 non-null   int64
 35  O_Receiving (Yds)              9805 non-null   int64
 36  O_Receiving (TD)               9805 non-null   int64
 37  O_Receiving (Lng)              9805 non-null   int64
 38  O_Fumbles (Fmb)                9805 non-null   int64
 39  O_Fumbles (FL)                 9805 non-null   int64
 40  D_Interceptions (Int)          9805 non-null   int64
 41  D_Interceptions (Yds)          9805 non-null   int64
 42  D_Interceptions (TD)           9805 non-null   int64
 43  D_Interceptions (Lng)          9805 non-null   int64
 44  D_Sacks (Sk)                   9805 non-null   float64
 45  D_Tackles (Comb)               9805 non-null   int64
 46  D_Tackles (Solo)               9805 non-null   int64
 47  D_Tackles (Ast)                9805 non-null   int64
 48  D_Fumbles (FR)                 9805 non-null   int64
 49  D_Fumbles (Yds)                9805 non-null   int64
 50  D_Fumbles (TD)                 9805 non-null   int64
 51  D_Fumbles (FF)                 9805 non-null   int64
 52  SPT_Kick_Returns (Rt)          9805 non-null   int64
 53  SPT_Kick_Returns (Yds)         9805 non-null   int64
 54  SPT_Kick_Returns (Y/Rt)        9805 non-null   float64
 55  SPT_Kick_Returns (TD)          9805 non-null   int64
 56  SPT_Kick_Returns (Lng)         9805 non-null   int64
 57  SPT_Punt_Returns (Ret)         9805 non-null   int64
 58  SPT_Punt_Returns (Yds)         9805 non-null   int64
 59  SPT_Punt_Returns (Y/R)         9805 non-null   float64
 60  SPT_Punt_Returns (TD)          9805 non-null   int64
 61  SPT_Punt_Returns (Lng)         9805 non-null   int64
 62  SPT_Scoring (XPM)              9805 non-null   int64
 63  SPT_Scoring (XPA)              9805 non-null   int64
 64  SPT_Scoring (FGM)              9805 non-null   int64
 65  SPT_Scoring (FGA)              9805 non-null   int64
 66  SPT_Punting (Pnt)              9805 non-null   int64
 67  SPT_Punting (Yds)              9805 non-null   int64
 68  SPT_Punting (Y/P)              9805 non-null   float64
 69  SPT_Punting (Lng)              9805 non-null   int64
dtypes: float64(5), int64(49), object(16)
memory usage: 5.2+ MB

> ### merge near dupes based on all player_stats cols and sum all other cols

In [31]:
# get list of cols

df_sbs_header_merged.columns

Index(['Player_Stats (Tm)', 'Player_Stats (SB)', 'Player_Stats (Key)',
       'Player_Stats (Player)', 'Player_Stats (No.)', 'Player_Stats (Age)',
       'Player_Stats (Pos)', 'Player_Stats (College/Univ)',
       'Player_Stats (College/Univ 2)', 'Player_Stats (College/Univ 3)',
       'Player_Stats (BirthDate)', 'Player_Stats (Yrs)',
       'Player_Stats (Super_bowl)', 'Player_Stats (Team)',
       'Player_Stats (Pts)', 'Player_Stats (MVP)', 'Player_Stats (Stadium)',
       'Player_Stats (City)', 'Player_Stats (State)', 'Player_Stats (Date)',
       'Player_Stats (W/L)', 'O_Passing (Cmp)', 'O_Passing (Att)',
       'O_Passing (Yds)', 'O_Passing (TD)', 'O_Passing (Int)',
       'O_Passing (Sk)', 'O_Passing (Yds.1)', 'O_Passing (Lng)',
       'O_Passing (Rate)', 'O_Rushing (Att)', 'O_Rushing (Yds)',
       'O_Rushing (TD)', 'O_Rushing (Lng)', 'O_Receiving (Rec)',
       'O_Receiving (Yds)', 'O_Receiving (TD)', 'O_Receiving (Lng)',
       'O_Fumbles (Fmb)', 'O_Fumbles (FL)', 'D_Interceptions (Int)',
       'D_Interceptions (Yds)', 'D_Interceptions (TD)',
       'D_Interceptions (Lng)', 'D_Sacks (Sk)', 'D_Tackles (Comb)',
       'D_Tackles (Solo)', 'D_Tackles (Ast)', 'D_Fumbles (FR)',
       'D_Fumbles (Yds)', 'D_Fumbles (TD)', 'D_Fumbles (FF)',
       'SPT_Kick_Returns (Rt)', 'SPT_Kick_Returns (Yds)',
       'SPT_Kick_Returns (Y/Rt)', 'SPT_Kick_Returns (TD)',
       'SPT_Kick_Returns (Lng)', 'SPT_Punt_Returns (Ret)',
       'SPT_Punt_Returns (Yds)', 'SPT_Punt_Returns (Y/R)',
       'SPT_Punt_Returns (TD)', 'SPT_Punt_Returns (Lng)', 'SPT_Scoring (XPM)',
       'SPT_Scoring (XPA)', 'SPT_Scoring (FGM)', 'SPT_Scoring (FGA)',
       'SPT_Punting (Pnt)', 'SPT_Punting (Yds)', 'SPT_Punting (Y/P)',
       'SPT_Punting (Lng)'],
      dtype='object')

In [32]:
# use grouby and agg to merge dupes

df_sbs_header_merged_no_dupes = df_sbs_header_merged.groupby(['Player_Stats (Tm)', 'Player_Stats (SB)', 'Player_Stats (Key)',
       'Player_Stats (Player)', 'Player_Stats (No.)', 'Player_Stats (Age)',
       'Player_Stats (Pos)', 'Player_Stats (College/Univ)',
       'Player_Stats (College/Univ 2)', 'Player_Stats (College/Univ 3)',
       'Player_Stats (BirthDate)', 'Player_Stats (Yrs)',
       'Player_Stats (Super_bowl)', 'Player_Stats (Team)',
       'Player_Stats (Pts)', 'Player_Stats (MVP)', 'Player_Stats (Stadium)',
       'Player_Stats (City)', 'Player_Stats (State)', 'Player_Stats (Date)',
       'Player_Stats (W/L)']).agg('sum')

In [33]:
# check result

df_sbs_header_merged_no_dupes.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Cmp)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Att)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Yds)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (TD)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Int)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Sk)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0


In [34]:
df_sbs_header_merged_no_dupes.shape

(6540, 49)

In [35]:
# reset index

df_sbs_header_merged_no_dupes.reset_index(inplace=True)

In [36]:
# check df

df_sbs_header_merged_no_dupes.head()

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
0,ARI,43,ARI43,Aaron Francisco,47,25,DB,BYU,nan,nan,7/5/1983,3,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1,1,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
1,ARI,43,ARI43,Adrian Wilson,24,29,SS,North Carolina St.,nan,nan,10/12/1979,7,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,7,7,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
2,ARI,43,ARI43,Alan Branch,78,24,DT,Michigan,nan,nan,12/29/1984,1,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
3,ARI,43,ARI43,Ali Highsmith,95,23,LB,LSU,nan,nan,1/20/1985,Rook,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
4,ARI,43,ARI43,Anquan Boldin,81,28,WR,Florida St.,nan,nan,10/3/1980,5,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,8,84,0,45,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [37]:
# export df_sbs_header_merged_no_dupes as pkl and csv to analyze visually

df_sbs_header_merged_no_dupes.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_sbs_header_merged_no_dupes.pkl'))

In [38]:
df_sbs_header_merged_no_dupes.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_sbs_header_merged_no_dupes.csv'))

> ### 2 near dupes still found

In [39]:
# recheck for dupes with more granularity

dupes_gr2 = df_sbs_header_merged_no_dupes[df_sbs_header_merged_no_dupes.duplicated(subset=['Player_Stats (Key)', 'Player_Stats (Player)'], keep=False)]

In [40]:
dupes_gr2.head()

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
115,ATL,51,ATL51,Ayodeji Olatoye,0,25,DB,North Carolina A&T,nan,nan,7/20/1991,1,LI,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2/5/2017,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,2,1,1,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
116,ATL,51,ATL51,Ayodeji Olatoye,30,25,DB,North Carolina A&T,nan,nan,7/20/1991,1,LI,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2/5/2017,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
6243,WAS,7,WAS7,Herb Mul-Key,28,23,RB,Alabama State University,nan,nan,11/15/1949,Rook,VII,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California,1/14/1973,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,1,15,15.0,0,15,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
6244,WAS,7,WAS7,Herb Mul-Key,28,23,RB,nan,nan,nan,11/15/1949,Rook,VII,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California,1/14/1973,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [41]:
# make both entries above equal in the Player stats then re-merge

df_sbs_header_merged_no_dupes.loc[115, 'Player_Stats (No.)'] = 30
df_sbs_header_merged_no_dupes.loc[6244, 'Player_Stats (College/Univ)'] = 'Alabama State University'

In [42]:
# recheck for dupes with more granularity

dupes_gr3 = df_sbs_header_merged_no_dupes[df_sbs_header_merged_no_dupes.duplicated(subset=['Player_Stats (Key)', 'Player_Stats (Player)'], keep=False)]

In [43]:
dupes_gr3.head()

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
115,ATL,51,ATL51,Ayodeji Olatoye,30,25,DB,North Carolina A&T,nan,nan,7/20/1991,1,LI,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2/5/2017,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,2,1,1,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
116,ATL,51,ATL51,Ayodeji Olatoye,30,25,DB,North Carolina A&T,nan,nan,7/20/1991,1,LI,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2/5/2017,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
6243,WAS,7,WAS7,Herb Mul-Key,28,23,RB,Alabama State University,nan,nan,11/15/1949,Rook,VII,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California,1/14/1973,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,1,15,15.0,0,15,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
6244,WAS,7,WAS7,Herb Mul-Key,28,23,RB,Alabama State University,nan,nan,11/15/1949,Rook,VII,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California,1/14/1973,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [44]:
# perform same merge as before to combine last 2 dupes

# use grouby and agg to merge dupes

df_sbs_header_merged_no_dupes2 = df_sbs_header_merged_no_dupes.groupby(['Player_Stats (Tm)', 'Player_Stats (SB)', 'Player_Stats (Key)',
       'Player_Stats (Player)', 'Player_Stats (No.)', 'Player_Stats (Age)',
       'Player_Stats (Pos)', 'Player_Stats (College/Univ)',
       'Player_Stats (College/Univ 2)', 'Player_Stats (College/Univ 3)',
       'Player_Stats (BirthDate)', 'Player_Stats (Yrs)',
       'Player_Stats (Super_bowl)', 'Player_Stats (Team)',
       'Player_Stats (Pts)', 'Player_Stats (MVP)', 'Player_Stats (Stadium)',
       'Player_Stats (City)', 'Player_Stats (State)', 'Player_Stats (Date)',
       'Player_Stats (W/L)']).agg('sum')

In [45]:
# check df

df_sbs_header_merged_no_dupes2.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Cmp)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Att)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Yds)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (TD)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Int)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                 0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      O_Passing (Sk)  \
Player_Stats (Tm) Player_Stats (SB) Player_Stats (Key) Player_Stats (Player) Player_Stats (No.) Player_Stats (Age) Player_Stats (Pos) Player_Stats (College/Univ) Player_Stats (College/Univ 2) Player_Stats (College/Univ 3) Player_Stats (BirthDate) Player_Stats (Yrs) Player_Stats (Super_bowl) Player_Stats (Team) Player_Stats (Pts) Player_Stats (MVP) Player_Stats (Stadium) Player_Stats (City) Player_Stats (State) Player_Stats (Date) Player_Stats (W/L)
ARI               43                ARI43              Aaron Francisco       47                 25                 DB                 BYU                         nan                           nan                           7/5/1983                 3                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Adrian Wilson         24                 29                 SS                 North Carolina St.          nan                           nan                           10/12/1979               7                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Alan Branch           78                 24                 DT                 Michigan                    nan                           nan                           12/29/1984               1                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Ali Highsmith         95                 23                 LB                 LSU                         nan                           nan                           1/20/1985                Rook               XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0
                                                       Anquan Boldin         81                 28                 WR                 Florida St.                 nan                           nan                           10/3/1980                5                  XLIII                     Arizona Cardinals   23                 Santonio Holmes    Raymond James Stadium  Tampa               Florida              2/1/2009            0                                0


In [46]:
# reset index

df_sbs_header_merged_no_dupes2.reset_index(inplace=True)

In [47]:
# check df

df_sbs_header_merged_no_dupes2.head()

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
0,ARI,43,ARI43,Aaron Francisco,47,25,DB,BYU,nan,nan,7/5/1983,3,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1,1,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
1,ARI,43,ARI43,Adrian Wilson,24,29,SS,North Carolina St.,nan,nan,10/12/1979,7,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,7,7,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
2,ARI,43,ARI43,Alan Branch,78,24,DT,Michigan,nan,nan,12/29/1984,1,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
3,ARI,43,ARI43,Ali Highsmith,95,23,LB,LSU,nan,nan,1/20/1985,Rook,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
4,ARI,43,ARI43,Anquan Boldin,81,28,WR,Florida St.,nan,nan,10/3/1980,5,XLIII,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2/1/2009,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,8,84,0,45,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [48]:
# recheck for dupes with more granularity

dupes_gr4 = df_sbs_header_merged_no_dupes2[df_sbs_header_merged_no_dupes2.duplicated(subset=['Player_Stats (Key)', 'Player_Stats (Player)'], keep=False)]

In [49]:
# check 

dupes_gr4.head()

Empty DataFrame
Columns: [Player_Stats (Tm), Player_Stats (SB), Player_Stats (Key), Player_Stats (Player), Player_Stats (No.), Player_Stats (Age), Player_Stats (Pos), Player_Stats (College/Univ), Player_Stats (College/Univ 2), Player_Stats (College/Univ 3), Player_Stats (BirthDate), Player_Stats (Yrs), Player_Stats (Super_bowl), Player_Stats (Team), Player_Stats (Pts), Player_Stats (MVP), Player_Stats (Stadium), Player_Stats (City), Player_Stats (State), Player_Stats (Date), Player_Stats (W/L), O_Passing (Cmp), O_Passing (Att), O_Passing (Yds), O_Passing (TD), O_Passing (Int), O_Passing (Sk), O_Passing (Yds.1), O_Passing (Lng), O_Passing (Rate), O_Rushing (Att), O_Rushing (Yds), O_Rushing (TD), O_Rushing (Lng), O_Receiving (Rec), O_Receiving (Yds), O_Receiving (TD), O_Receiving (Lng), O_Fumbles (Fmb), O_Fumbles (FL), D_Interceptions (Int), D_Interceptions (Yds), D_Interceptions (TD), D_Interceptions (Lng), D_Sacks (Sk), D_Tackles (Comb), D_Tackles (Solo), D_Tackles (Ast), D_Fumbles (FR), D_Fumbles (Yds), D_Fumbles (TD), D_Fumbles (FF), SPT_Kick_Returns (Rt), SPT_Kick_Returns (Yds), SPT_Kick_Returns (Y/Rt), SPT_Kick_Returns (TD), SPT_Kick_Returns (Lng), SPT_Punt_Returns (Ret), SPT_Punt_Returns (Yds), SPT_Punt_Returns (Y/R), SPT_Punt_Returns (TD), SPT_Punt_Returns (Lng), SPT_Scoring (XPM), SPT_Scoring (XPA), SPT_Scoring (FGM), SPT_Scoring (FGA), SPT_Punting (Pnt), SPT_Punting (Yds), SPT_Punting (Y/P), SPT_Punting (Lng)]
Index: []

> ### All dupes have been merged

In [50]:
# export df_sbs_header_merged_no_dupes as pkl and csv to analyze visually

df_sbs_header_merged_no_dupes2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_sbs_clean_no_dupes.pkl'))

In [51]:
# Import data

df_sbs_clean_no_dupes = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_sbs_clean_no_dupes.pkl'))

In [52]:
# check df

df_sbs_clean_no_dupes.shape

(6538, 70)

## Basic Descriptive Analysis

In [53]:
df_sbs_clean_no_dupes.shape

(6538, 70)

In [54]:
df_sbs_clean_no_dupes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6538 entries, 0 to 6537
Data columns (total 70 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Player_Stats (Tm)              6538 non-null   object
 1   Player_Stats (SB)              6538 non-null   int64
 2   Player_Stats (Key)             6538 non-null   object
 3   Player_Stats (Player)          6538 non-null   object
 4   Player_Stats (No.)             6538 non-null   int64
 5   Player_Stats (Age)             6538 non-null   int64
 6   Player_Stats (Pos)             6538 non-null   object
 7   Player_Stats (College/Univ)    6538 non-null   object
 8   Player_Stats (College/Univ 2)  6538 non-null   object
 9   Player_Stats (College/Univ 3)  6538 non-null   object
 10  Player_Stats (BirthDate)       6538 non-null   object
 11  Player_Stats (Yrs)             6538 non-null   object
 12  Player_Stats (Super_bowl)      6538 non-null   object
 13  Player_Stats (Team)            6538 non-null   object
 14  Player_Stats (Pts)             6538 non-null   int64
 15  Player_Stats (MVP)             6538 non-null   object
 16  Player_Stats (Stadium)         6538 non-null   object
 17  Player_Stats (City)            6538 non-null   object
 18  Player_Stats (State)           6538 non-null   object
 19  Player_Stats (Date)            6538 non-null   object
 20  Player_Stats (W/L)             6538 non-null   int64
 21  O_Passing (Cmp)                6538 non-null   int64
 22  O_Passing (Att)                6538 non-null   int64
 23  O_Passing (Yds)                6538 non-null   int64
 24  O_Passing (TD)                 6538 non-null   int64
 25  O_Passing (Int)                6538 non-null   int64
 26  O_Passing (Sk)                 6538 non-null   int64
 27  O_Passing (Yds.1)              6538 non-null   int64
 28  O_Passing (Lng)                6538 non-null   int64
 29  O_Passing (Rate)               6538 non-null   float64
 30  O_Rushing (Att)                6538 non-null   int64
 31  O_Rushing (Yds)                6538 non-null   int64
 32  O_Rushing (TD)                 6538 non-null   int64
 33  O_Rushing (Lng)                6538 non-null   int64
 34  O_Receiving (Rec)              6538 non-null   int64
 35  O_Receiving (Yds)              6538 non-null   int64
 36  O_Receiving (TD)               6538 non-null   int64
 37  O_Receiving (Lng)              6538 non-null   int64
 38  O_Fumbles (Fmb)                6538 non-null   int64
 39  O_Fumbles (FL)                 6538 non-null   int64
 40  D_Interceptions (Int)          6538 non-null   int64
 41  D_Interceptions (Yds)          6538 non-null   int64
 42  D_Interceptions (TD)           6538 non-null   int64
 43  D_Interceptions (Lng)          6538 non-null   int64
 44  D_Sacks (Sk)                   6538 non-null   float64
 45  D_Tackles (Comb)               6538 non-null   int64
 46  D_Tackles (Solo)               6538 non-null   int64
 47  D_Tackles (Ast)                6538 non-null   int64
 48  D_Fumbles (FR)                 6538 non-null   int64
 49  D_Fumbles (Yds)                6538 non-null   int64
 50  D_Fumbles (TD)                 6538 non-null   int64
 51  D_Fumbles (FF)                 6538 non-null   int64
 52  SPT_Kick_Returns (Rt)          6538 non-null   int64
 53  SPT_Kick_Returns (Yds)         6538 non-null   int64
 54  SPT_Kick_Returns (Y/Rt)        6538 non-null   float64
 55  SPT_Kick_Returns (TD)          6538 non-null   int64
 56  SPT_Kick_Returns (Lng)         6538 non-null   int64
 57  SPT_Punt_Returns (Ret)         6538 non-null   int64
 58  SPT_Punt_Returns (Yds)         6538 non-null   int64
 59  SPT_Punt_Returns (Y/R)         6538 non-null   float64
 60  SPT_Punt_Returns (TD)          6538 non-null   int64
 61  SPT_Punt_Returns (Lng)         6538 non-null   int64
 62  SPT_Scoring (XPM)              6538 non-null   int64
 63  SPT_Scoring (XPA)              6538 non-null   int64
 64  SPT_Scoring (FGM)              6538 non-null   int64
 65  SPT_Scoring (FGA)              6538 non-null   int64
 66  SPT_Punting (Pnt)              6538 non-null   int64
 67  SPT_Punting (Yds)              6538 non-null   int64
 68  SPT_Punting (Y/P)              6538 non-null   float64
 69  SPT_Punting (Lng)              6538 non-null   int64
dtypes: float64(5), int64(49), object(16)
memory usage: 3.5+ MB

> ### 6538 rows
> ### 70 columns

In [11]:
df_sbs_clean_no_dupes.describe(include='all')

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
count,6538,6538.000000,6538,6538,6538.000000,6538.000000,6538,6538,6538,6538,6538,6538,6538,6538,6538.000000,6538,6538,6538,6538,6538,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.0,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000
unique,30,NaN,116,4506,NaN,NaN,73,426,160,23,4131,22,58,31,NaN,47,36,22,11,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NWE,NaN,WAS22,Tom Brady,NaN,NaN,WR,Miami (FL),nan,nan,8/3/1977,Rook,XXII,New England Patriots,NaN,Tom Brady,Louisiana Superdome,New Orleans,Florida,1/31/1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,679,NaN,108,10,NaN,NaN,663,124,6115,6500,10,1147,202,679,NaN,631,546,1034,1844,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,31.426124,NaN,NaN,53.813093,26.764913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.672377,NaN,NaN,NaN,NaN,NaN,0.501377,0.353778,0.593607,4.337412,0.027072,0.021413,0.045274,0.315234,0.788467,1.882472,0.504283,2.039462,0.016213,0.745335,0.353778,4.337412,0.027072,2.140869,0.022484,0.011165,0.021413,0.359743,0.002294,0.331600,0.045503,0.817222,0.679260,0.137963,0.027837,0.031661,0.001071,0.008412,0.068828,1.439890,0.594983,0.001530,0.760324,0.039003,0.307739,0.142505,0.0,0.212909,0.042674,0.044662,0.024319,0.032273,0.081370,3.392934,0.740976,0.896757
std,NaN,16.521035,NaN,NaN,27.113955,3.430458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.913838,NaN,NaN,NaN,NaN,NaN,0.500036,2.756519,4.524832,33.421341,0.253538,0.219517,0.394353,2.955519,5.937315,13.413432,2.591994,11.585703,0.148565,3.847542,1.256752,16.855348,0.182703,7.711341,0.169448,0.112126,0.158875,4.237515,0.050944,3.794981,0.245570,1.888938,1.582295,0.561576,0.170904,1.455076,0.032706,0.096233,0.466898,10.986989,3.940048,0.039082,5.439832,0.326546,3.213642,1.570583,0.0,2.230884,0.380232,0.392479,0.227097,0.288527,0.658514,27.585504,5.545082,6.725380
min,NaN,1.000000,NaN,NaN,0.000000,21.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-10.000000,0.000000,-10.000000,0.000000,-8.000000,0.000000,-8.000000,0.000000,0.000000,0.000000,-7.000000,0.000000,-7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-15.000000,0.000000,0.000000,0.000000,-3.000000,-3.000000,0.000000,-3.000000,0.000000,-2.000000,-2.000000,0.0,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,18.000000,NaN,NaN,30.000000,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,32.000000,NaN,NaN,55.000000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,46.000000,NaN,NaN,78.000000,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,58.000000,NaN,NaN,99.000000,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,1.000000,43.000000,62.000000,505.000000,6.000000,5.000000,7.000000,64.000000,85.000000,158.300000,38.000000,204.000000,3.000000,75.000000,14.000000,215.000000,3.000000,85.000000,3.000000,2.000000,3.000000,108.000000,2.000000,100.000000,4.000000,18.000000,15.000000,8.000000,2.000000,64.000000,1.000000,2.000000,8.000000,244.000000,92.000000,1.000000,108.000000,6.000000,90.000000,61.000000,0.0,65.000000,7.000000,8.000000,4.000000,5.000000,11.000000,430.000000,53.000000,65.000000

> ### Need to change 'Rook' in Yrs col to 0, then convert entire col to int

In [55]:
# replace 'Rook' with '0'

df_sbs_clean_no_dupes['Player_Stats (Yrs)'].replace('Rook', 0, inplace=True)

In [61]:
# convert Yrs to int, W/L, No. and SB to str

df_sbs_clean_no_dupes['Player_Stats (Yrs)'] = df_sbs_clean_no_dupes['Player_Stats (Yrs)'].astype('int64')
df_sbs_clean_no_dupes['Player_Stats (W/L)'] = df_sbs_clean_no_dupes['Player_Stats (W/L)'].astype('str')
df_sbs_clean_no_dupes['Player_Stats (No.)'] = df_sbs_clean_no_dupes['Player_Stats (No.)'].astype('str')
df_sbs_clean_no_dupes['Player_Stats (SB)'] = df_sbs_clean_no_dupes['Player_Stats (SB)'].astype('str')

In [62]:
# check output

df_sbs_clean_no_dupes.describe(include='all')

,Player_Stats (Tm),Player_Stats (SB),Player_Stats (Key),Player_Stats (Player),Player_Stats (No.),Player_Stats (Age),Player_Stats (Pos),Player_Stats (College/Univ),Player_Stats (College/Univ 2),Player_Stats (College/Univ 3),Player_Stats (BirthDate),Player_Stats (Yrs),Player_Stats (Super_bowl),Player_Stats (Team),Player_Stats (Pts),Player_Stats (MVP),Player_Stats (Stadium),Player_Stats (City),Player_Stats (State),Player_Stats (Date),Player_Stats (W/L),O_Passing (Cmp),O_Passing (Att),O_Passing (Yds),O_Passing (TD),O_Passing (Int),O_Passing (Sk),O_Passing (Yds.1),O_Passing (Lng),O_Passing (Rate),O_Rushing (Att),O_Rushing (Yds),O_Rushing (TD),O_Rushing (Lng),O_Receiving (Rec),O_Receiving (Yds),O_Receiving (TD),O_Receiving (Lng),O_Fumbles (Fmb),O_Fumbles (FL),D_Interceptions (Int),D_Interceptions (Yds),D_Interceptions (TD),D_Interceptions (Lng),D_Sacks (Sk),D_Tackles (Comb),D_Tackles (Solo),D_Tackles (Ast),D_Fumbles (FR),D_Fumbles (Yds),D_Fumbles (TD),D_Fumbles (FF),SPT_Kick_Returns (Rt),SPT_Kick_Returns (Yds),SPT_Kick_Returns (Y/Rt),SPT_Kick_Returns (TD),SPT_Kick_Returns (Lng),SPT_Punt_Returns (Ret),SPT_Punt_Returns (Yds),SPT_Punt_Returns (Y/R),SPT_Punt_Returns (TD),SPT_Punt_Returns (Lng),SPT_Scoring (XPM),SPT_Scoring (XPA),SPT_Scoring (FGM),SPT_Scoring (FGA),SPT_Punting (Pnt),SPT_Punting (Yds),SPT_Punting (Y/P),SPT_Punting (Lng)
count,6538,6538,6538,6538,6538,6538.000000,6538,6538,6538,6538,6538,6538.000000,6538,6538,6538.000000,6538,6538,6538,6538,6538,6538,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.0,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000
unique,30,58,116,4506,100,NaN,73,426,160,23,4131,NaN,58,31,NaN,47,36,22,11,58,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NWE,22,WAS22,Tom Brady,84,NaN,WR,Miami (FL),nan,nan,8/3/1977,NaN,XXII,New England Patriots,NaN,Tom Brady,Louisiana Superdome,New Orleans,Florida,1/31/1988,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,679,202,108,10,98,NaN,663,124,6115,6500,10,NaN,202,679,NaN,631,546,1034,1844,202,3278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,26.764913,NaN,NaN,NaN,NaN,NaN,3.812328,NaN,NaN,23.672377,NaN,NaN,NaN,NaN,NaN,NaN,0.353778,0.593607,4.337412,0.027072,0.021413,0.045274,0.315234,0.788467,1.882472,0.504283,2.039462,0.016213,0.745335,0.353778,4.337412,0.027072,2.140869,0.022484,0.011165,0.021413,0.359743,0.002294,0.331600,0.045503,0.817222,0.679260,0.137963,0.027837,0.031661,0.001071,0.008412,0.068828,1.439890,0.594983,0.001530,0.760324,0.039003,0.307739,0.142505,0.0,0.212909,0.042674,0.044662,0.024319,0.032273,0.081370,3.392934,0.740976,0.896757
std,NaN,NaN,NaN,NaN,NaN,3.430458,NaN,NaN,NaN,NaN,NaN,3.421819,NaN,NaN,10.913838,NaN,NaN,NaN,NaN,NaN,NaN,2.756519,4.524832,33.421341,0.253538,0.219517,0.394353,2.955519,5.937315,13.413432,2.591994,11.585703,0.148565,3.847542,1.256752,16.855348,0.182703,7.711341,0.169448,0.112126,0.158875,4.237515,0.050944,3.794981,0.245570,1.888938,1.582295,0.561576,0.170904,1.455076,0.032706,0.096233,0.466898,10.986989,3.940048,0.039082,5.439832,0.326546,3.213642,1.570583,0.0,2.230884,0.380232,0.392479,0.227097,0.288527,0.658514,27.585504,5.545082,6.725380
min,NaN,NaN,NaN,NaN,NaN,21.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-10.000000,0.000000,-10.000000,0.000000,-8.000000,0.000000,-8.000000,0.000000,0.000000,0.000000,-7.000000,0.000000,-7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-15.000000,0.000000,0.000000,0.000000,-3.000000,-3.000000,0.000000,-3.000000,0.000000,-2.000000,-2.000000,0.0,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,21.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,43.000000,62.000000,505.000000,6.000000,5.000000,7.000000,64.000000,85.000000,158.300000,38.000000,204.000000,3.000000,75.000000,14.000000,215.000000,3.000000,85.000000,3.000000,2.000000,3.000000,108.000000,2.000000,100.000000,4.000000,18.000000,15.000000,8.000000,2.000000,64.000000,1.000000,2.000000,8.000000,244.000000,92.000000,1.000000,108.000000,6.000000,90.000000,61.000000,0.0,65.000000,7.000000,8.000000,4.000000,5.000000,11.000000,430.000000,53.000000,65.000000

In [63]:
# export df_sbs_clean_no_dupes

df_sbs_clean_no_dupes.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_sbs_clean_no_dupes.pkl'))